---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container">
		<h3 class="text-center py-4"> Bienvenido a TheCoctailDB</h3>
	
	<div class="row">
		<div class="col-md-7">


			</div>
		</div>
		<div class="col-md-5"> 
			<img src="t1.jpg" class="img-fluid img-thumbnail" alt="">
		</div>
	</div>


</Layout>